# Project: Predicting Usage of a Video Game Research Server
## Link to GitHub repository
https://github.com/yang67776/dsci-100-2025s-project.git
## Backgroud
This Project is based on the data collected by a research group in Computer Science at UBC, led by Frank Wood. They have set up a MineCraft server and recorded players' actions worldwide. 
## Question
This project will explore the question: Can played hours and age of players predict the probability of a player subscribing to a game-related newsletter in the dataset players.csv?
## Data
This data contains five experience levels (player skill levels) of players: Beginner, Amateur, Regular, Veteran, and Pro. It also contains information on whether the players subscribe to a game-related newsletter, their played hours(how long they have played the game), hashed email, name, gender, and age. The irrelevant variables, hashed email, name, experience levels, and gender, will be removed for the purpose of this project's analysis. The clean data will only contain these three variables: whether the players subscribe to a game-related newsletter, players' played hours, and their age.

## Method
I will use classification

In [1]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [2]:
player <- read_csv("players.csv")
head(player)

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  experience subscribe
1 Pro         TRUE
2 Veteran     TRUE
3 Veteran    FALSE
4 Amateur     TRUE
5 Regular     TRUE
6 Amateur     TRUE
  hashedEmail                                                      played_hours
1 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
2 f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9  3.8
3 b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28  0.0
4 23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5  0.7
5 7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb0af4d48fcce2420f3e  0.1
6 f58aad5996a435f16b0284a3b267f973f9af99e7a89bee0430055a44fa92f977  0.0
  name      gender Age
1 Morgan    Male    9
2 Christian Male   17
3 Blake     Male   17
4 Flora     Female 21
5 Kylie     Male   21
6 Adrian    Female 17

In [3]:
clean_player_data <- filter(player, played_hours != "NA", Age != "NA") |>
          select(subscribe, played_hours, Age)
        head(clean_player_data)

  subscribe played_hours Age
1  TRUE     30.3          9
2  TRUE      3.8         17
3 FALSE      0.0         17
4  TRUE      0.7         21
5  TRUE      0.1         21
6  TRUE      0.0         17

In [4]:
# summary of the data set 
clean_player_data |>
summarize(max_played_hours = max(played_hours, na.rm = TRUE),
 min_played_hours = min(played_hours, na.rm = TRUE),
 mean_played_hours = mean(played_hours, na.rm = TRUE),
 max_age = max(Age, na.rm = TRUE),
min_age = min(Age, na.rm = TRUE),
mean_age = mean(Age, na.rm = TRUE))

  max_played_hours min_played_hours mean_played_hours max_age min_age mean_age
1 223.1            0                5.904639          50      8       20.52062